<link href="css/servicios/servicios.css" rel="stylesheet" />
<div ng-controller="serviciosController" ng-init="init()" class="_c">
    <div class="top top-servicios">
        <h1>Vení, conocenos</h1>
        <p>La aventura te espera.</p>
    </div>
    <div class="content">
        <div class="row section">
            <div class="content-section">
                <div class="title">
                    <h1>Nuestros servicios</h1>
                </div>
            </div>
        </div>
        <div class="content-section-float">
            <div class="row servicio">
                <div class="col-4" vcenter>
                    <img src="img/servicios/pic/pileta.jpg"/>
                </div><!--
                --><div class="col-3-4 _left vcenter">
                    <div class="row">
                        <h1>Piscina</h1>
                    </div>
                    <div class="row">
                        <p style="margin-bottom: 20px;">
                            Contamos con una pileta recreativa.
                        </p>
                        <p style="color: red;">
                            <b><u>Nota</u>:</b>  No contamos con servicio de guardavidas, por lo que el 
                            cuidado de cualquier menor queda a cargo de un adulto responsable.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row servicio">
                <div class="col-3-4 _right vcenter">
                    <div class="row">
                        <h1>Wi-Fi</h1>
                    </div>
                    <div class="row">
                        <p>
                            Nuestro complejo cuenta con Wi-Fi en todo el complejo.
                        </p>
                    </div>
                </div><!--
                --><div class="col-4 vcenter">
                    <img src="img/servicios/pic/wifi.jpg"/>
                </div>
            </div>
            <div class="row servicio">
                <div class="col-4 centrado vcenter">
                    <img src="img/servicios/pic/tv.jpg"/>
                </div><!--
                --><div class="col-3-4 _left centrado vcenter">
                    <div class="row">
                        <h1>TV</h1>
                    </div>
                    <div class="row">
                        <p>
                            Contamos con TV con DirectTV para cada cabaña
                        </p>
                    </div>
                </div>
            </div>
            <div class="row servicio">
                <div class="col-3-4 _right vcenter">
                    <div class="row">
                        <h1>Cochera Individual</h1>
                    </div>
                    <div class="row vcenter">
                        <p>
                            Cada cabaña cuenta con su propia cochera cubierta
                        </p>
                    </div>
                </div><!--
                --><div class="col-4 vcenter">
                    <img src="img/servicios/pic/cochera.jpg"/>
                </div>
            </div>
            <div class="row servicio">
                <div class="col-4 vcenter">
                    <img src="img/servicios/pic/parrilla.jpg"/>
                </div><!--
                --><div class="col-3-4 _left vcenter">
                    <div class="row">
                        <h1>Parrilla Cubierta</h1>
                    </div>
                    <div class="row">
                        <p>
                            Cada cabaña cuenta con una parrilla cubierta
                        </p>
                    </div>
                </div>
            </div>
            <div class="row servicio">
                <div class="col-3-4 _right vcenter">
                    <div class="row">
                        <h1>Microondas</h1>
                    </div>
                    <div class="row">
                        <p>
                            En cada cabaña hay un microondas, en donde podés recalentar la comida en esos dias de flojera
                        </p>
                    </div>
                </div><!--
                --><div class="col-4 vcenter">
                    <img src="img/servicios/pic/microondas.jpg">
                </div>
            </div>
            <div class="row servicio">
                <div class="col-3-4 _right vcenter">
                    <div class="row">
                        <h1>Cabañas Climatizadas</h1>
                    </div>
                    <div class="row">
                        <p>
                            Cada cabaña posee calefacción, para mantenerte calentito los días fríos. También son frescas y poseen ventiladores para los días calurosos
                        </p>
                    </div>
                </div><!--
                --><div class="col-4 vcenter">
                    <!--img src="img/servicios/pic/microondas.jpg"-->
                </div>
            </div>
        </div>
    </div>
</div>