<link href="css/servicios/servicios.css" rel="stylesheet" />
<div ng-controller="serviciosController" ng-init="init()" class="_c">
    <div class="top top-servicios">
        <h1>Título</h1>
        <p>Texto texto texto texto</p>
    </div>
    <div class="content">
        <div class="row section">
            <div class="content-section">
                <div class="title">
                    <h1>Nuestros servicios</h1>
                </div>
            </div>
        </div>
        <div class="content-section-float">
            <div class="row servicio">
                <div class="col-4">
                    <img src="img/servicios/ico/wifi.png"/>
                </div>
                <div class="col-3-4 _left">
                    <div class="row">
                        <h1>Wi-Fi</h1>
                    </div>
                    <div class="row">
                        <p>
                            Texto texto texto
                        </p>
                    </div>
                </div>
            </div>
            <div class="row servicio">
                <div class="col-3-4 _right">
                    <div class="row">
                        <h1>Wi-Fi</h1>
                    </div>
                    <div class="row">
                        <p>
                            Texto texto texto
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <img src="img/servicios/ico/wifi.png"/>
                </div>
            </div>
            <div class="row servicio">
                <div class="col-4">
                    <img src="img/servicios/ico/wifi.png"/>
                </div>
                <div class="col-3-4 _left">
                    <div class="row">
                        <h1>Wi-Fi</h1>
                    </div>
                    <div class="row">
                        <p>
                            Texto texto texto
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>