@include foundation-orbit;

.orbit {
    @include orbit-wrapper;
    height: 100%;
}

.orbit-wrapper {
    height: 100%;
}

.orbit-container {
    @include orbit-container;
    height: 100%;
}

.orbit-figure {
    height: 100%;
}

.orbit-slide {
    @include orbit-slide;
    height: 100%;
}

.orbit-image {
    @include orbit-image;
    height: 100%;
    background-position: center center;
    background-size: cover;
    
    &._1 {
        background-color: #49575b;
        background-image: url(../img/home/1.jpg);
    }
    &._2 {
        background-color: #7d8656;
        background-image: url(../img/home/2.jpg);
    }
    &._3 {
        background-color: #508bd6;
        background-image: url(../img/home/3.jpg);
    }
    &._4 {
        background-color: #57551c;
        background-image: url(../img/home/bg-2.jpg);
    }
}

.orbit-caption {
    @include orbit-caption;
}

.orbit-controls {
    @include orbit-control;
    width: 100%;
    
    .orbit-previous {
        @include orbit-previous;
    }
    .orbit-next {
        @include orbit-next;
    }
}


.slider {
    display: block;
    background: #3c0f3c;
    height: 100%;
    width: 100%;
}