.top-servicios {
    background-image: url(img/top.jpg);
}

.servicio {
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
}
.servicio:first-child {
    padding-top: 80px;
}
.servicio:last-child {
    padding-bottom: 80px;
}
.servicio:nth-of-type(even) {
    background-color: #f9f9f9;
}

.servicio img {
    width: 100%;
}

.servicio h1 {
    padding-bottom: 10px;
    font-size: 60px;
    font-family: hor_fnt;
}

.servicio ._left {
    padding-top: 80px;
    padding-left: 80px;
}
.servicio ._right {
    padding-top: 80px;
    padding-right: 80px;
}