.top-servicios {
    background-image: url(img/top.jpg);
}

.servicio {
/*    padding-left: 80px;
    padding-right: 80px;*/
    padding: 80px;
    text-align: justify;
}
.servicio:first-child {
    padding-top: 80px;
}
.servicio:last-child {
    padding-bottom: 80px;
}
.servicio:nth-of-type(even) {
    background-color: #f9f9f9;
}

.servicio img {
    width: 100%;
    border: 4px solid rgb(243, 243, 243);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.68);
    transition: all .25s linear;
}

.servicio h1 {
    padding-bottom: 10px;
    font-size: 60px;
    font-family: hor_fnt;
}

.servicio ._left {
    padding-left: 80px;
}
.servicio ._right {
    padding-right: 80px;
}
