<div class="_c">
    <div class="top top-servicios">
        <h1>Vení, conocenos</h1>
        <p>La aventura te espera.</p>
    </div>
    <div class="content">
        <div class="row column">
            <div class="title">
                <h1>Nuestros servicios</h1>
            </div>
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 medium-push-4 _left">
                    <div class="row column">
                        <h1>Piscina</h1>
                    </div>
                    <div class="row column">
                        <p style="margin-bottom: 20px;">
                            Contamos con una pileta recreativa.
                        </p>
                        <p style="color: red;">
                            <b><u>Nota</u>:</b>  No contamos con servicio de guardavidas, por lo que el 
                            cuidado de cualquier menor queda a cargo de un adulto responsable.
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4 medium-pull-8">
                    <img src="img/servicios/pic/pileta.jpg"/>
                </div>
            </div>
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 _right">
                    <div class="row column">
                        <h1>Wi-Fi</h1>
                    </div>
                    <div class="row column">
                        <p>
                            Nuestro complejo cuenta con Wi-Fi en todo el complejo.
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <img src="img/servicios/pic/wifi.jpg"/>
                </div>
            </div>
            
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 medium-push-4 _left">
                    <div class="row column">
                        <h1>TV</h1>
                    </div>
                    <div class="row column">
                        <p>
                            Contamos con TV con DirectTV para cada cabaña
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4 medium-pull-8">
                    <img src="img/servicios/pic/tv.jpg"/>
                </div>
            </div>
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 _right">
                    <div class="row column">
                        <h1>Cochera Individual</h1>
                    </div>
                    <div class="row column">
                        <p>
                            Cada cabaña cuenta con su propia cochera cubierta
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <img src="img/servicios/pic/cochera.jpg"/>
                </div>
            </div>
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 medium-push-4 _left">
                    <div class="row column">
                        <h1>Parrilla Cubierta</h1>
                    </div>
                    <div class="row column">
                        <p>
                            Cada cabaña cuenta con una parrilla cubierta. Además encontrarás todos los elementos necesarios para el uso de la misma.
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4 medium-pull-8">
                    <img src="img/servicios/pic/parrilla.jpg"/>
                </div>
            </div>
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 _right">
                    <div class="row column">
                        <h1>Microondas y Cocina</h1>
                    </div>
                    <div class="row column">
                        <p>
                            En cada cabaña hay un microondas, además contamos con cocina con horno y vajilla completa.
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <img src="img/servicios/pic/microondas.jpg">
                </div>
            </div>
            
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 _right">
                    <div class="row column">
                        <h1>Cabañas Climatizadas</h1>
                    </div>
                    <div class="row column">
                        <p>
                            Cada cabaña posee calefacción, para mantenerte calentito los días fríos. También son frescas y poseen ventiladores para los días calurosos
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <!--img src="img/servicios/pic/microondas.jpg"-->
                </div>
            </div>
        </div>
        <div class="row column expanded servicio" data-aos="fade-up">
            <div class="row align-middle">
                <div class="columns small-12 medium-8 _right">
                    <div class="row column">
                        <h1>Blanquería</h1>
                    </div>
                    <div class="row column">
                        <p>
                            Al llegar a la cabaña encontrarás sabanas y toallas limpias y perfumadas, listas para usar.
                        </p>
                    </div>
                </div>
                <div class="columns small-12 medium-4">
                    <!--img src="img/servicios/pic/microondas.jpg"-->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>