@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.top-fotogaleria {
    background-image: url(img/top.jpg);
}

.foto {
    position: relative;
    width: 100%;
}

.foto > img {
    border: 4px solid rgb(243, 243, 243);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.68);
    width: 100%;
    cursor: pointer;
    transition: all .25s linear;
}
.foto:hover > img {
    transform: scale(1.05); 
}
