<header>
    <div ng-show="smallSize" ng-click="openCanvas()" class="hamburger"></div>
    <div id="offCanvas" data-off-canvas>
        <div ng-if="showLogo" class="nav_logo">
            <img src="img/nav-logo.png">
        </div>
        <ul ng-class="{'vertical':smallSize}" class="tabs">
            <li class="tabs-title" 
                ng-class="{'active': rutaActual === 'inicio'}"
                ng-click="cambioRutaActual('inicio')">
                <a href="#/home">Inicio</a>
            </li>
            <li class="tabs-title"
                ng-class="{'active': rutaActual === 'fotogaleria'}"
                ng-click="cambioRutaActual('fotogaleria')">
                <a href="#/fotogaleria">Fotogalería</a>
            </li>
            <!--li ng-class="{'active': $route.current.activetab == 'home'}"><a href="#/home">Disponibilidad</a></li-->
            <li class="tabs-title"
                ng-class="{'active': rutaActual === 'servicios'}"
                ng-click="cambioRutaActual('servicios')">
                <a href="#/servicios">Servicios</a>
            </li>
            <li class="tabs-title"
                ng-class="{'active': rutaActual === 'mapa'}"
                ng-click="cambioRutaActual('mapa')">
                <a href="#/mapa">Mapa</a>
            </li>
        </ul>
    </div>
</header>