<header hide-on-scroll ng-class="{'ocultar': boolChangeClass, 'transparente': boolTransparent}">
    <div ng-show="smallSize" ng-click="" class="hamburger" data-toggle="offCanvas"></div>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas></div>
    <div ng-hide="smallSize" class="background">
        <div class="attach">
            <div ng-if="showLogo" class="nav_logo">
                <img src="img/nav-logo.png">
            </div>
            <nav ng-style="positionNav" id="primary_nav" ng-controller="tabController">
                <ul>
                    <li ng-class="{'active': $route.current.activetab === 'home'}"><a href="#/home">Home</a></li>
                    <li ng-class="{'active': $route.current.activetab == 'fotogaleria'}"><a href="#/fotogaleria">Fotogalería</a></li>
                    <!--li ng-class="{'active': $route.current.activetab == 'home'}"><a href="#/home">Disponibilidad</a></li-->
                    <li ng-class="{'active': $route.current.activetab == 'servicios'}"><a href="#/servicios">Servicios</a></li>
                    <li ng-class="{'active': $route.current.activetab == 'mapa'}"><a href="#/mapa">Mapa</a></li>
                    <li>
                        <a style="cursor: pointer;" scroll-to="footer" duration="1500"
                           callback-after="scrollToBottom">Contacto</a>
                        <div class="icono-container contacto" ng-show="mostrarContacto">
                            <div class="icono-footer telefono" ng-class="{'activo':iconos[0], 'show':show[0]}">
                                <span class="icono " ng-click="clickIcono(0)"></span>
                                <div class="texto"><u>Tel:</u> 123456789</div>
                            </div>
                            <div class="icono-footer mail" ng-class="{'activo':iconos[1], 'show':show[1]}">
                                <span class="icono " ng-click="clickIcono(1)"></span>
                                <div class="texto">contacto@contacto.com</div>
                            </div>
                            <div class="icono-footer facebook" ng-class="{'show':show[2]}">
                                <a href="https://www.facebook.com/HorizontedeCalamuchita/" class="icono" target="_blank"></a>
                            </div>
                        </div>
                    </li>
                    <!--li ng-class="{'active': $route.current.activetab == 'contacto'}"><a href="#/contacto">Contacto</a></li-->
                </ul>
            </nav>
        </div>
    </div>
</header>