/* ver de poner todos las imagenes de los componentes en dist/img y accederlas con "../" */

@import '../../directives/hamburger/hamburger.style'; 

@font-face {
    font-family: hor_fnt;
    src: url(fonts/Righteous/Righteous-Regular.ttf);
}

/* off-canvas */
/* http://foundation.zurb.com/sites/docs/off-canvas.html */

@include foundation-off-canvas;

$offcanvas-background: rgb(115, 93, 74);
#offCanvas {
    background-color: rgb(115, 93, 74);
    background-image: url('../img/mosaico.png');
}


/* tabs */
/* http://foundation.zurb.com/sites/docs/tabs.html */

$tab-background: rgb(115, 93, 74);

.tabs {
    @include tabs-container;
    border: none;
    box-shadow: 1px 0px 5px -1px black;
    background-color: rgb(115, 93, 74);
    background-image: url('../img/mosaico.png');
    
    &.vertical {
        @include tabs-container-vertical;
        background: none !important;
        box-shadow: none !important;
        
        > li {
            > a {
                transition: border-color .6s;
                border-bottom: 1px solid #8c6139;
                border-right: none !important;
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 15px;
                margin-left: 15px;
                padding-bottom: 15px;
            }
            
            &:last-child > a {
                border-bottom: none;
            }
            
            &.active > a {
                border-color: transparent;
            }
        } 
    }
/*    
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: url('../img/mosaico.png');
        transition: background .5s;
    } */
    
    > li {
        float: left;
        width: 20%;
        height: 50px;
        cursor: pointer;
        overflow: hidden;
        transition: height .3s;
        
        > a {
            position: relative;
            display: block;
            text-align: center;
            text-decoration: none;
            font-family: hor_fnt;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 20px;
            color: rgb(142, 96, 44);
            text-shadow: 0px 1px 2px rgba(255, 235, 169, 0.58);
            margin-top: 5px;
            margin-bottom: 5px;
            border-right: 1px solid #8c6139;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: color .2s;
        }
        &:hover > a {
            color: rgba(142,99,46,0.75);
        }
        &.active {
            position:relative;
            
            &:after {
                width: 100%;
                /*left: 0%;*/
            }
            
            &:hover > a {
                color: rgb(142, 96, 44);
            }
        }
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            background-image: url('../img/line.png');
            height: 25px;
            width: 0;
            /*left: 50%;*/
            transition: width .6s, left .6s;
        }
    }
}

header {
    position: fixed;
    z-index: 99999;
    height: 50px;
    width: 100%;
    
    > div.background {
        position: relative;
        background: rgb(115, 93, 74);
        box-shadow: 1px 0px 5px -1px black;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #9A7C66;
        transition: height .3s, background .5s;


        
        > div.attach {
            max-width: 1350px;
            margin: auto;
            position: relative;
            
            > div.nav_logo {
/*                background-image: url('img/nav-logo.png');*/
/*                background-size: cover; 
                background-position: center center; */
                width: 30%;
                height: 130px;
                z-index: 1;
                position: absolute;
                background-color: #FFD578;
                box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, 0.54);
                left: 30px;
                top: -10px;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                transition: height .3s linear .15s;
                
                > img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    
                    &:after {
                        content: '';
                        display: block;
                        background-color: rgba(255, 153, 0, 0.4);
                        width: 100%;
                        height: 100%;
                    }
                }
                
                
            }
        }
    }
    
    &.ocultar > div.background {
        height: 0;
        
        > div.attach {
            > div.nav_logo {
                height: 0;
            }
            
            > #primary_nav > ul > li {
                height: 0;
            }
        }
    }
    
    &.transparente {
        > div.background {
            background: rgba(117, 117, 117, 0.13);
            
            > div.attach {
                > #primary_nav {
                    margin: auto;
                }
                
                > div.nav_logo {
                    height: 0;
                }
            }
        }  
        
        &:after > div.background {
            background: transparent;
        }
    }  
}


/* Contacto */

.contacto {
    padding-right: 0 !important;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    padding-top: 5px !important;
    
    .icono-footer {
        .icono {
            top: -63px;
            position: relative;
            background-color: #a27e5b;
            box-shadow: 1px 1px 5px rgb(129, 103, 77);
        }
        
        &.show .icono{
            top: 0;
        }
    } 
}


/* Logo */
.logo-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}