/* ver de poner todos las imagenes de los componentes en dist/img y accederlas con "../" */

@import '../../directives/hamburger/hamburger.style'; 

@font-face {
    font-family: hor_fnt;
    src: url(fonts/Righteous/Righteous-Regular.ttf);
}

/* off-canvas */
/* http://foundation.zurb.com/sites/docs/off-canvas.html */

@include foundation-off-canvas;

$offcanvas-background: rgb(115, 93, 74);
#offCanvas {
    background-color: rgb(115, 93, 74);
    background-image: url('../img/mosaico.png');
}

/* Logo */

.logo-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* tabs */
/* http://foundation.zurb.com/sites/docs/tabs.html */

$tab-background: rgb(115, 93, 74);

.tabs {
    @include tabs-container;
    border: none;
    box-shadow: 1px 0px 5px -1px black;
    background-color: rgb(115, 93, 74);
    background-image: url('../img/mosaico.png');
    
    &.vertical {
        @include tabs-container-vertical;
        background: none !important;
        box-shadow: none !important;
        
        > li {
            height: 50px;
            cursor: pointer;
            
            > a {
                position: relative;
                display: block;
                text-align: center;
                font-family: hor_fnt;
                text-decoration: none;
                transition: color .2s;
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 20px;
                color: #734e24;
                border-bottom: 1px solid #8c6139;
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 15px;
                margin-left: 15px;
                padding-bottom: 15px;
                text-shadow: 0px 1px 1px rgba(202, 186, 135, 0.58);
                padding-top: 10px;
                padding-bottom: 10px;
            }
            
            &:hover > a {
                /*color: rgba(142,99,46,0.75);*/
                color: #634421;
            }
            
            &.active > a {
                color: #563c1e;
            }
            
            &:last-child > a {
                border-bottom: none;
            }
        } 
    }

/*    > li {
     
      
        
        &.active {
            position:relative;
            
            &:after {
                width: 100%;
                left: 0%;
            }
            
            &:hover > a {
                color: rgb(142, 96, 44);
            }
        }
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            background-image: url('../img/line.png');
            height: 25px;
            width: 0;
            left: 50%;
            transition: width .6s, left .6s;
        }
    }*/
}


/* animacion */
$base-delay: 0.35s;
$animation-duration: 0.1s;
$menu-items: 4;

.off-canvas {
    .logo-wrapper {
        @include animation(0.9s, $base-delay);
    }
    
    @for $i from 1 through $menu-items {
        ul.tabs > li:nth-child(#{$i}) {
            @include animation($animation-duration, $base-delay + $animation-duration * $i);
        }
    }
    
    &.is-open {
        .logo-wrapper {
            animation-name: fadeIn;
        }
        
        ul.tabs > li {
            animation-name: fadeInDown;
        }
    }
}